<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Template Engine EJS</title>
<link href="assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<h1>Hello World....</h1>
	<div style="display:block;margin:0 auto;">
		<form method="POST" action="/person">
			First Name: <input type="text" id="firstName" name="firstName"/><br/>
			Last Name: <input type="text" id="lastName" name="lastName"/><br/>
			<input type="submit" value="Submit"/>
		</form>
	</div>
</body>
</html>