<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Value Passing to EJS</title>
<link href="assets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<h1>Person: <%= ID %></h1>
	<h2>Length: <%= ID.length %></h2>
	<!-- EJS variable ID will be provided to the view and parsed and rendered to 
	the page. The <%  %> are the limiters of EJS code. These variable/objects are
	 passed on while calling the result.render() function. Dynamically generated HTML  -->
</body>
</html>